nav {
    font-family: 'Bungee', cursive;
    color: #FFFFFF;
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

nav span {
    margin: 1.5em;
}

.new-tweet {
    font-family: 'Source Sans Pro', sans-serif;
}