.page-header {
    padding-top: 140px;
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    background-color: #0062ad87;
}

.profile-image {
    margin-top: 2em;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.profile-name {
    display: flex;
    justify-content: center;
    padding-bottom: 1.3em;
}

@media (max-width: 767px) {
    .page-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 140px;
        height: 550px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .page-header {
        display: flex;
        max-width: 30%;
        max-height: 13em;
        margin-left: 1.5em;
    }
}