#tweets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
}

#tweets-container article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

#tweets-container article:hover {
    box-shadow: 0.6em 0.6em 0 0 grey;
}

.tweets-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main article p {
    display: flex;
    justify-content: space-around;
}

main article {
    border: 5px solid;
}

.user-icon {
    justify-content: flex-start;
    margin: 1em;
    width: 20px;
    min-width: 20px;
}

.tweet-icons {
    display: flex;
    width: 5em;
    margin-right: 1em;
}

.single-icon {
    padding-right: 10px;
}

.name {
    justify-content: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
}

.username {
    justify-content: flex-end;
    margin: 1%;
    margin-right: 1em;
}

.tweet-body {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    margin-left: 2em;
    margin-right: 2em;
    border-bottom: 3px solid;
    font-weight: 600;
}

.tweets-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2em;
}

.date-stamp {
    margin: 1em;
    justify-content: flex-start;
}

.tweet-icon {
    margin: 1em;
    justify-content: flex-end;
}