.new-tweet {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tweet-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 80%;
    height: 150px;
}

form label {
    text-decoration: underline;
}

form textarea {
    flex-direction: column;
    justify-self: center;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-width: 3px;
    background-color: #f4f1ec;
    resize: none;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form div button {
    width: fit-content;
    color: white;
    background-color: steelblue;
    font-family: 'Bungee', cursive;
    margin-top: 10px;
}

.counter {
    font-family: 'Bungee', cursive;
    margin-top: 10px;
}

#tweet-text::placeholder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 20px;
    text-align: center;
    border-bottom: 10px;
}

.error-empty-tweet {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.error-exceed-chars {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}